Package: com.shade.augment
Name: Augment
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: Upscale that uses Substrate
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
Version: 0.0.1-87+debug
Installed-Size: 372
