Package: com.shade.augment
Name: Augment
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: Apps Inside Windows
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
Version: 0.0.1-109+debug
Installed-Size: 392
